table {
border: medium solid #000000;
width: 60%;
}

th {
border: thin solid #ff0000;
width: 60%;
}

td {
border: thin solid #6495ed;
width: 60%;
}

ul {
margin-top:0;
margin-left:5%;
padding:0;
}

li{
margin-left:5%;
display: inline;
}
